

<!DOCTYPE html>
<html lang="en">

<head>
<title>Pretyping Application Experiment</title>
<link rel="stylesheet" href="static/style.css">
</head>

<body>
<h1>Welcome to the Pretyping Application Experiment</h1>

<p>
Thank you for your participation in this experiment. We are interested in evaluating the effectiveness of a new pretyping application.
</p>

<p>
To participate in the experiment, please follow these steps:
</p>

<ol>
<li>Fill out the form below with your basic information.</li>
<li>Click the "Start Experiment" button.</li>
<li>Follow the instructions on the following page to complete the experiment.</li>
</ol>

<form action="/start" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name">

<label for="email">Email:</label>
<input type="email" name="email" id="email">

<input type="submit" value="Start Experiment">
</form>
</body>

</html>


